* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: #2fa5ff;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  padding: 12px 16px;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.text {
  width: 600px;
  margin: 0 auto;
  margin-top: 100px;
}

.section .text h4 {
  font-size: 64px;
  font-weight: 700;
  display: inline-block;
  font-family: sans-serif;
}

.one,
.two,
.three {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid rgb(189, 255, 75);
}

.section {
  background-color: aliceblue;
  position: relative;
  overflow-y: scroll;
}

.circle-wrap {
  display: flex;
  position: relative;
  width: 600px;
  margin: 0 auto;
}

.box {
  background-color: rgb(0, 47, 255);
  width: 600px;
  height: 700px;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 200px;
}

.-ml-3\.5 {
  margin-left: -0.875rem;
}

.items-center {
  align-items: center;
}

.inline-flex {
  display: inline-flex;
}

#face-placeholder {
  transform: translate(0px, 0px) scale(1);
  transition: transform 0.5s ease-in-out;
}
#face-placeholder-two {
  transform: translate(0px, 0px) scale(1);
  transition: transform 0.5s ease-in-out;
}
